{% extends 'layout.html' %}

{% block body %}
<hr>
  <div class="col-lg-12 text-center">
    <div class="card-title"> <font size="8" color="blue">Wellcome to the Mining place </font></div>
    <div class="card-title"><b><font size="6" >Bless you successful !</font> </b></div>
  </div>
  <div class="container">
    <div class="alert alert-success alert-dismissible" role="alert">
	     <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
       <font size="5" ><a href="#" class="alert-link"><strong>Step 1 :</strong></a>Reveive transmission data or transaction data from mining pool.</font>
     </div>

     <div class="alert alert-info alert-dismissible" role="alert">
       <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
       <font size="5" > <a href="#" class="alert-link"><strong>Step 2 :</strong></a>Proof Signature.</font>
     </div>

     <div class="alert alert-warning alert-dismissible" role="alert">
       <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
       <font size="5" > <a href="#" class="alert-link"><strong>Step 3 :</strong></a>Mine transmission data or transaction data.</font>
     </div>

     <div class="alert alert-danger alert-dismissible" role="alert">
	      <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        <font size="5" > <a href="#" class="alert-link"><strong>Step 4 :</strong></a>Generat blockcahin!</font>
      </div>
      <div class="alert alert-secondary alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        <font size="5" >  <a href="#" class="alert-link"><strong>Step 5 :</strong></a>Blockcahin management!</font>
      </div>
    </div>
    <hr>
    <br>
{% endblock %}
