<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <font size=5 color='black'>家</font>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
      </ul>
    </div>
  </div>
</nav>
<br>
<div class="container">
  <center>
    <div class="form-inline">
      <div class="col-md-3">
      </div>
      <div>
        <b>
          <font size="5"> 電能負載模組 編號:02 </font>
          <input type="button" class="btn btn-primary btn-lg" value="開啟" onclick="location.href='/ele/boot'">
          <input type="button" class="btn btn-primary btn-lg" value="關閉" onclick="location.href='/ele/shutdown'">
          <input type="button" class="btn btn-primary btn-lg" value="擷取" onclick="location.href='/ele/read'">
          <input type="button" class="btn btn-primary btn-lg" value="提交" onclick="location.href='/ele/new_transactions_pack'">
        </b>
      </div>
    </div>
  </center>
</div>
